@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
        <h2>Find your dream job! Find your dream employee!</h2>
        <img src="~/images/find_job.jpg" class="img-thumbnail" />
</div>
